doctype html
html
    head
        style
            include style.css
    body
        div
            | hello world
            br
            | Container Work

        block content

        div.footer
            | (c) My site
            | Footer!!!!
            a(href='https://google.com') click here